[Unit]
Description=Run HG680P Monitor auto-update

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Unit=hg680p-monitor-update.service

[Install]
WantedBy=timers.target
